<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>loja-view</display-name>
  <context-param>
    <param-name>javax.faces.FACELETS_RESOURCE_RESOLVER</param-name>
    <param-value>pxt.framework.faces.facelets.CustomResourceResolver</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.PARTIAL_STATE_SAVING</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Production</param-value>
  </context-param>
  <context-param>
    <param-name>com.sun.faces.expressionFactory</param-name>
    <param-value>com.sun.el.ExpressionFactoryImpl</param-value>
  </context-param>
  <context-param>
    <param-name>org.richfaces.skin</param-name>
    <param-value>blueSky</param-value>
  </context-param>
  <context-param>
    <param-name>org.richfaces.resourceOptimization.enabled</param-name>
    <param-value>true</param-value>
  </context-param>
  <listener>
    <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>Resource Servlet</servlet-name>
    <servlet-class>org.richfaces.webapp.ResourceServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resource Servlet</servlet-name>
    <url-pattern>/org.richfaces.resources/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Chart Exporter Servlet</servlet-name>
    <servlet-class>pxt.framework.faces.servlet.ChartExporterServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chart Exporter Servlet</servlet-name>
    <url-pattern>/chart.exporter</url-pattern>
  </servlet-mapping>
  <mime-mapping>
    <extension>xcss</extension>
    <mime-type>text/css</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>xhtml</extension>
    <mime-type>application/xhtml+xml</mime-type>
  </mime-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Peixoto single sign-on Servlet</servlet-name>
    <servlet-class>pxt.framework.security.sso.SSOServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Peixoto single sign-on Servlet</servlet-name>
    <url-pattern>/sso-login.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Peixoto single sign-on error Servlet</servlet-name>
    <servlet-class>pxt.framework.security.sso.SSOErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Peixoto single sign-on error Servlet</servlet-name>
    <url-pattern>/sso-error.html</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>SSOLogoutFilter</filter-name>
    <filter-class>pxt.framework.security.sso.SSOLogoutFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SSOLogoutFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/sso-login.html</form-login-page>
      <form-error-page>/sso-login.html?error=true</form-error-page>
    </form-login-config>
  </login-config>
  <error-page>
    <error-code>401</error-code>
    <location>/sso-error.html?type=401</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/sso-error.html?type=403</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/sso-error.html?type=404</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/sso-error.html?type=500</location>
  </error-page>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Acesso geral ao sistema</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>SGV_MENSAGEM</role-name>
      <role-name>SGV_CADCANDIDATO</role-name>
      <role-name>SGV_CADREPRESENTANTE</role-name>
      <role-name>SGV_APVCANDIDATO</role-name>
      <role-name>SGV_RPVCANDIDATO</role-name>
      <role-name>SGV_CACCADCANDIDATO</role-name>
      <role-name>SGV_CADAREATUACAO</role-name>
      <role-name>SGV_CNSTITABECLIENTE</role-name>
      <role-name>SGV_CNSDEVCLIENTE</role-name>
      <role-name>SGV_CNSLIMCREDITO</role-name>
      <role-name>SGV_CADCLIENTE</role-name>
      <role-name>SGV_ALTCLIENTE</role-name>
      <role-name>SGV_CNSPEDIDO</role-name>
      <role-name>SGV_CACPEDIDO</role-name>
      <role-name>SGV_CNSDIAVSTREP</role-name>
      <role-name>SGV_CADDIAVSTREP</role-name>
      <role-name>SGV_CNSINDVND</role-name>
      <role-name>SGV_CNSCLICRVABC</role-name>
      <role-name>SGV_CNSARVPDT</role-name>
      <role-name>SGV_CNSARVGAN</role-name>
      <role-name>SGV_CNSPRJVND</role-name>
      <role-name>SGV_CNSVNDDIA</role-name>
      <role-name>SGV_CNSVNDDET</role-name>
      <role-name>SGV_CNSEVOIND</role-name>
      <role-name>SGV_CNSREMREP</role-name>
      <role-name>SGV_CNSRESIND</role-name>
      <role-name>SGV_CNSCHDDEVCLIENTE</role-name>
      <role-name>SGV_TSFCXAVND</role-name>
      <role-name>SGV_VNDSEMPED</role-name>
      <role-name>SGV_CNSMAPVND</role-name>
      <role-name>SGV_CNSVNDACU</role-name>
      <role-name>SGV_CNSEQP</role-name>
      <role-name>SGV_CADADICIONAIS</role-name>
      <role-name>SGV_CADINFADI</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Rest Services</web-resource-name>
      <url-pattern>/rest/*</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Resources App</web-resource-name>
      <url-pattern>/resources/*</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Resources Faces 1</web-resource-name>
      <url-pattern>/javax.faces.resource/*</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Resources Faces 2</web-resource-name>
      <url-pattern>/faces/javax.faces.resource/*</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Resources Richfaces</web-resource-name>
      <url-pattern>/org.richfaces.resources/*</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-role>
    <role-name>SGV_CADCANDIDATO</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_CADREPRESENTANTE</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_APVCANDIDATO</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_RPVCANDIDATO</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_CACCADCANDIDATO</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_CADAREATUACAO</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_CNSTITABECLIENTE</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_CNSDEVCLIENTE</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_CNSLIMCREDITO</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_CADCLIENTE</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_ALTCLIENTE</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_CNSPEDIDO</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_CACPEDIDO</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_CNSDIAVSTREP</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_CADDIAVSTREP</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_CNSINDVND</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_CNSCLICRVABC</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_CNSARVPDT</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_CNSARVGAN</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_CNSPRJVND</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_CNSVNDDIA</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_CNSVNDDET</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_CNSEVOIND</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_CNSREMREP</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_CNSRESIND</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_TSFCXAVND</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_VNDSEMPED</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_MENSAGEM</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_CNSCHDDEVCLIENTE</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_AUTDADOSBANCARIO</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_CNSMAPVND</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_CNSVNDACU</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_CNSEQP</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_CADADICIONAIS</role-name>
  </security-role>
  <security-role>
    <role-name>SGV_CADINFADI</role-name>
  </security-role>
</web-app>